/* Start Global Variables */
:root {
    --maincolor: #10CAB7;
    --secondcolor: #F6F6F6;
    --mainpadding: 60px;
}
/* End Global Variables */
/* Start Components */
.special-heading {
    font-size: 100px;
    font-weight: 800;
    color: #EBECED;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading {
        margin-top: -20px;
    }
}
/* End Components */
/* Start Global Rules ====================================================*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px; 
    }
}
/* End Global Rules ====================================================*/
/* Start Header ====================================================*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.header .container .links {
    position: relative;
}
.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .container .links .icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
}
.header .container .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.header .container .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .container .links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--secondcolor);
    min-width: 200px;
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
}
.header .container .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--secondcolor) transparent;
    position: absolute;
    top: -20px;
    right: 0;
    /*  */
}
.header .container .links:hover ul {
    display: block;
}
.header .container .links ul li {
    /* padding: 15px; */
}
.header .container .links ul li a {
    color: #333333;
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
}
.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}
.header .container .links ul li a:hover {
    padding-left: 25px;
} 
/* End Header ====================================================*/
/* Start Section ====================================================*/
.landing {
    background-image: url("../Images/Landing1.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    z-index:-1;
}
.landing .container .text {
    position: absolute;
    width: 320px;
    max-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.landing .container .text h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--maincolor);
    margin: 0;
}
.landing .container .text p {
    color: #333333;
    font-size: 19px;
    line-height: 1.8;
}
/* End Section ====================================================*/
/* Start Features ====================================================*/
.features {
    padding: var(--mainpadding) 0;
    background-color: var(--secondcolor);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i {
    color: var(--maincolor);
}
.features .container .feat h3 {
    margin: 30px 0;
    font-weight: 800;
}
.features .container .feat p {
    line-height: 1.8;
    color: #777777;
    font-size: 17px;
}
/* End Features ====================================================*/
/* Start Services ================================================== */
.services {
    padding: var(--mainpadding);
}
.services .container .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .container .services-content .col .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .container .services-content .col .srv i {
    color: var(--maincolor);
    flex-basis: 60px;
}
.services .container .services-content .col .srv .text {
    flex: 1;
}
.services .container .services-content .col .srv .text h3 {
    margin: 0 0 20px;
}
.services .container .services-content .col .srv .text p {
    color: #444444;
    font-weight: 300;
    line-height: 1.6;
}
.services .container .services-content .col .image {
    position: relative;
    text-align: center;
}
.services .container .services-content .col .image::before {
    content: "";
    background-color: #2C4755;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    position: absolute;
    z-index: -1;
}
.services .container .services-content .col .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .services .container .services-content .col .image img {
        display: none;
    }
}
/* End Services ==================================================== */
/* Start Portfolio ==================================================== */
.portfolio {
    padding: var(--mainpadding) 0;
    background-color: var(--secondcolor);
}
.portfolio  .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio  .container .portfolio-content .card {
    background-color: #FFFFFF;
}
.portfolio  .container .portfolio-content .card img {
    max-width: 100%;
}
.portfolio  .container .portfolio-content .card .info {
    padding: 20px;
}
.portfolio  .container .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio  .container .portfolio-content .card .info p {
    color: #777777;
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolio ==================================================== */
/* Start About ==================================================== */
.about {
    padding-top: var(--mainpadding);
    padding-bottom: calc(var(--mainpadding) + 60px)
}
.about .container .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
@media (max-width: 991px) {
    .about .container .about-content {
        flex-direction: column;
        text-align: center; 
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .container .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .container .about-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 80px);
    background-color: #EBECED;
    position: absolute;
    left: -20px;
    top: -40px;
    z-index: -1;
}
.about .container .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--maincolor);
    border-bottom: 80px solid var(--maincolor);
    z-index: -1;
    right: -150px;
    top: -40px;
}
@media (max-width: 991px) {
    .about .container .about-content .image::before,
    .about .container .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .container .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .container .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .container .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--maincolor);
}
.about .container .about-content .text p:last-child {
    line-height: 2;
    color: 777777;
}
/* End About ==================================================== */
/* Start Contact ==================================================== */
.contact {
    padding: var(--mainpadding) 0;
    background-color: var(--secondcolor);
}
/* .contact .container .contact-content {
    margin: 100px 0;
    text-align: center;
} */
.contact .container .contact-content .info {
    padding: var(--mainpadding);
    text-align: center;
}
.contact .container .contact-content .info .label {
    font-size: 35px;
    font-weight: 800;
    color: #2C4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .container .contact-content .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--maincolor);
    text-decoration: none;
}
.contact .container .contact-content .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}
.contact .container .contact-content .social i {
    color: #2C4755;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .contact .container .contact-content .info .label,
    .contact .container .contact-content .info a {
        font-size: 25px;
    }
}
/* End Contact ==================================================== */
/* Start Footer */
.footer {
    background-color: #2C4755;
    padding: 30px 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer .span {
    font-weight: bold;
    color: var(--maincolor);
}
/* End Footer */